<style>
    .cn::after {
        content: '';
        width: 0;
        height: 2px;
        background: #155e75;
        display: block;
        transition: 0.2s linear;
    }

    .cn:hover::after {
        width: 100%;
    }
</style>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Fayroz Menu</h5>
            <h1 class="mb-5" style="color:#155e75;">Most Popular Items</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-4">
                @foreach (var category in ViewBag.Categories)
                {
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3 text-decoration-none" data-bs-toggle="pill" href="#tab-@category.Id">
                            <i class="fas fa-cookie-bite fa-2x"></i>
                            <div class="ps-3">
                                <h6 class="mt-n1 mb-0 cn">@category.Name</h6>
                            </div>
                        </a>
                    </li>
                }
            </ul>

            @foreach (var categoryGroup in Model)
            {
                <div class="tab-content">
                    <div id="tab-@categoryGroup.Key.Id" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            @foreach (var recipe in categoryGroup)
                            {
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="~/images/@recipe.Image" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>@recipe.Name</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">@recipe.Description</small>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                </div>
            }
        </div>
    </div>
</div>








@* <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Fayroz Menu</h5>
            <h1 class="mb-5">Most Popular Items</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-4">
                @foreach (var category in ViewBag.Categories)
                {
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3 text-decoration-none" data-bs-toggle="pill" href="#tab-@category.Id">
                            <i class="fas fa-cookie-bite fa-2x"></i>
                            <div class="ps-3">
                                <h6 class="mt-n1 mb-0">@category.Name</h6>
                            </div>
                        </a>
                    </li>
                }
            </ul>

            @foreach (var category in ViewBag.Categories)
            {
                <div class="tab-content">
                    <div id="tab-@category.Id" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            @foreach (var recipe in ViewBag.Recipe)
                            {
                                @if(recipe.CategoryId == category.Id)
                                {
                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid rounded" src="~/images/@recipe.Image" alt="" style="width: 80px;">
                                            <div class="w-100 d-flex flex-column text-start ps-4">
                                                <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                    <span>@recipe.Name</span>
                                                    <span class="text-primary">$115</span>
                                                </h5>
                                                <small class="fst-italic">@recipe.Description</small>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <br />
                </div>
            }
        </div>
    </div>
</div> *@